@font-face {
  font-family: titleFont;
  src: url(../assets/fonts/title.ttf);
}

@font-face {
  font-family: subtitleFont;
  src: url(../assets/fonts/subtitle.ttf);
}

@font-face {
  font-family: resultFont;
  src: url(../assets/fonts/result.ttf);
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.form-control-input {
    min-width: 0;
    max-width: 55%;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

.bsr-form {
    display: block;
    max-width: 25%;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  font-family: titleFont;
  font-size: 100px;
}

.lead {
  font-family: subtitleFont;
  font-size: 25px;
}

.result {
  font-family: titleFont;
  font-size: 75px;
}
